.profile {
  display: grid;
  justify-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.avatar {
  border-radius: 50%;
  background-color: blue;
}

.desc {
  display: grid;
  justify-items: center;
}

.list {
  display: flex;
}
